.bulletSection { 
  font-weight: bold;
  color: #111;
  font-family: 'Helvetica Neue' sans-serif; 
  position:relative;
  top:20px;
  bottom:20px;
}

.childbulletSection { 
  font-weight: normal;
  position:relative; 
  left:50px; //for relative postion it will move paragrapgh tag to 50px left from the existing boundary  
}

.myImageClass {
  border-radius: 50%;
  position:relative;
  left:50px;
}

.breakDivsion { 
  margin-bottom: 16px;
  margin-top: 10px
}

.newLine {
    display: block;
    line-height: 2px;
	line-width:20px;
	position:relative;
	top:20px;
}

.divClass { 
  position:relative;
  left:50px;
  font-weight: bold;
  color: #111;
  font-family: 'Helvetica Neue' sans-serif; 
  position:relative;
  top:20px;
}
.childdivClass { 
  position:relative;
  font-weight: normal;
  color: #111;
  font-family: 'Helvetica Neue' sans-serif; 
}
.myTable {
	position:relative;
	left:50px;
	top:30px;
}

.tableRow {
	border: 2px solid black;
	position:relative;
}

.tableCell {
	border: 2px solid black;
	position:relative;
	
}

.hiddenClass{visibility: hidden;
    position:relative;
	left:50px;
}